---
---

@import "bootstrap.min.css";

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main ul {
  list-style-type: square;
}

.clickable {
  cursor: pointer;
}

.breadcrumb > span {
  margin-top: -0.2rem;
}

.bg-red {
  background-color: #d20707;
}

.bg-spacepirates {
  background-image: url("{{ site.baseurl }}/assets/images/bg-spacepirates-titel.png"), url("{{ site.baseurl }}/assets/images/bg-spacepirates.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-weltenbuch {
  background-image: url("{{ site.baseurl }}/assets/images/bg-weltenbuch.png");
}

.bg-lite {
  background-color: #3c80ef;
}

.card-body-spacepirates {
  background-image: url("{{ site.baseurl }}/assets/images/spacepirates.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}

.card-body-weltenbuch {
  background-image: url("{{ site.baseurl }}/assets/images/weltenbuch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}

.card-body-lite {
  background-image: url("{{ site.baseurl }}/assets/images/lite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}
