---
---

@import "bootstrap.min.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.woff2) format('woff2');
}

.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: top;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

body {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main ul {
  list-style-type: square;
}

a:hover {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.breadcrumb > span {
  margin-top: -0.2rem;
}

.bg-red {
  background-color: #d20707;
}

.bg-spacepirates {
  background-image: url("{{ site.baseurl }}/assets/images/bg-spacepirates-titel.png"), url("{{ site.baseurl }}/assets/images/bg-spacepirates.jpg");
  background-position: center bottom;
  background-repeat: no-repeat, repeat;
  background-size: contain;
}

.bg-weltenbuch {
  background-image: url("{{ site.baseurl }}/assets/images/bg-weltenbuch.png");
}

.bg-lite {
  background-color: #3c80ef;
}

.card-body-spacepirates {
  background-image: url("{{ site.baseurl }}/assets/images/spacepirates.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}

.card-body-weltenbuch {
  background-image: url("{{ site.baseurl }}/assets/images/weltenbuch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}

.card-body-lite {
  background-image: url("{{ site.baseurl }}/assets/images/lite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 332px;
}

.card-footer-spacepirates {
  text-shadow: 1px 1px black;
}
