<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link href="{{ site.baseurl }}/assets/bootstrap-icons.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/default.css"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.png" rel="apple-touch-icon"/>
    <link href="{{ site.baseurl }}/assets/images/appicon-192.png" rel="icon"/>
    <link href="{{ site.baseurl }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}"/>
  </head>
  <body>
    <header class="navbar navbar-light bg-light">
      <nav class="container-xxl flex-wrap py-3 justify-content-center">
        <a class="p-0" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="jcgames" width="188" height="40"/>
        </a>
      </nav>
    </header>
    <header class="navbar bg-red text-light py-2 mb-2">
      <nav class="container-xxl flex-wrap px-3 mb-0 justify-content-center">
        <a class="nav-link p-2 mx-2" href="{{ site.baseurl }}/"><span class="mi me-2">&#xF2FB;</span>Rollenspiele</a>
        <a class="nav-link p-2 mx-2" href="{{ site.baseurl }}/Aktuelles/"><span class="mi me-2">&#xF588;</span>Aktuelles</a>
        <a class="nav-link p-2 mx-2" href="{{ site.baseurl }}/Kontakt"><span class="mi me-2">&#xF4DB;</span>Kontakt</a>
      </nav>
    </header>
    <div class="container-xxl py-2 flex-grow-1">
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="navbar footer-bottom bg-light py-2 mt-2">
      <nav class="container-xxl flex-wrap px-3 mb-0 justify-content-center">
        <a class="nav-link p-2 mx-2 link-dark" href="https://www.tanelorn.net/index.php/board,367.0.html"><span class="mi me-2">&#xF252;</span>Tanelorn Forum</a>
        <a class="nav-link p-2 mx-2 link-dark" href="https://discord.com/channels/493858616902811648/"><span class="mi me-2">&#xF300;</span>Tanelorn Discord</a>
        <a class="nav-link p-2 mx-2 link-dark" href="https://rsp-blogs.de/"><span class="mi me-2">&#xF521;</span>RSP-BLOGS.DE</a>
        <a class="nav-link p-2 mx-2 link-dark" href="https://github.com/jcorporation/jcgames"><span class="mi me-2">&#xF3ED;</span>GitHub</a>
      </nav>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/default.js"></script>
  </body>
</html>
